#feedback_area{
    position: absolute;
    top: 2em;
    width: 80%;
    left: 10%;
    z-index: 1;
}

INPUT:focus.ng-invalid-bank-account-number {
    border-color: #E9322D;
    -webkit-box-shadow: 0 0 6px #F8B9B7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #F8B9B7;
}

.step {
    border: 1px solid #e3e3e3;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.stepLabel {
    font-size: 5em;
    line-height: 100%;
    text-align: center;
    color: #888;
}

.tablePreview {    
    overflow-y: auto;
}

.tablePreview TABLE {
    font-size: 0.8em;    
}

.tablePreview TABLE THEAD TH {
    border: none;
}

.tablePreview TABLE THEAD TH .label {
    position: inline;
}

.labelsArea {
    background: transparent;
    text-align: center;
}

.labelsArea SPAN.label {
    margin-right: 10px;
    cursor: default;
}

.tablePreview TABLE THEAD TH.dropFieldHover {
    background-color: #DFF0D8;
    border: 2px dotted #D6E9C6;
}

#assignmentTable .row-fluid [class*="span"]:nth-child(2) {
    text-align: right;   
}

.table-fluid .row-fluid {
    border-bottom: 1px solid #DDD;
    -webkit-transition: zoom, color, background-color 1s;
}

.table-fluid .row-fluid:nth-child(even) {
    background-color: #F9F9F9;
}

.table-fluid .row-fluid.active  {
    background-color: #08C;
    color: #f0f0f0;
}

.table-fluid .row-fluid.active.saved { 
    background-color: #DFF0D8;
    color: #468847;
    border: 1px solid #D6E9C6;
    zoom: 1.1;
}

.table-fluid .row-fluid [class*="span"] input {
    width: 100%;
    box-sizing: border-box;
}

#assignmentTable .tableHeader.row-fluid [class*="span"] {
    height: auto;
}

#assignmentTable .row-fluid [class*="span"] {
    padding: 8px;
}

.tableHeader > div { 
    font-weight: bold;
    line-height: 20px;
}

.ruleField, .ruleOperator, .ruleCategory {
    position: relative;
    background: white;
    border-radius: 4px;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.ruleField .label, .ruleOperator .label, .ruleCategory .label { 
    position: absolute !important;
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    text-align: center;
    line-height: 2em;    
    overflow: hidden;
    text-overflow: ellipsis;
    zIndex: 10;
}

.dropFieldHover.ruleField, .dropOperatorHover.ruleOperator {
    border: 2px dashed #468847;
}

.ruleField INPUT, .ruleOperator INPUT, .ruleCategory INPUT {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}

.sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.sortable li {
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em; 
   /* height: 18px;*/
}

.sortable li, .sortable li span {
    cursor: -webkit-grab;   
    cursor: grab;   
}

.giveMeSomeRoom {
    margin: 8px;
}

/*.sortable li > span:first { 
    position: absolute; 
    margin-left: -1.3em; 
}*/
