#feedback_area{
    position: absolute;
    top: 2em;
    width: 80%;
    left: 10%;
    z-index: 1;
}

INPUT:focus.ng-invalid-bank-account-number {
    border-color: #E9322D;
    -webkit-box-shadow: 0 0 6px #F8B9B7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #F8B9B7;
}

.step {
    border: 1px solid #e3e3e3;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.stepLabel {
    font-size: 5em;
    line-height: 100%;
    text-align: center;
    color: #888;
}

.tablePreview {    
    overflow-y: auto;
}

.tablePreview TABLE {
    font-size: 0.8em;    
}

.tablePreview TABLE THEAD TH {
    border: none;
}

.tablePreview TABLE THEAD TH .label {
    position: inline;
}

.labelsArea {
    background: transparent;
    text-align: center;
}

.labelsArea SPAN.label {
    margin-right: 10px;
    cursor: default;
}

.tablePreview TABLE THEAD TH.dropFieldHover {
    background-color: #DFF0D8;
    border: 2px dotted #D6E9C6;
}

#assignmentTable .row-fluid [class*="span"]:nth-child(2) {
    text-align: right;   
}

.table-fluid .row-fluid {
    border-bottom: 1px solid #DDD;
    -webkit-transition: zoom, color, background-color 1s;
}

.table-fluid .row-fluid:nth-child(even) {
    background-color: #F9F9F9;
}

.table-fluid .row-fluid.active  {
    background-color: #08C;
    color: #f0f0f0;
}

.table-fluid .row-fluid.active.saved { 
    background-color: #DFF0D8;
    color: #468847;
    border: 1px solid #D6E9C6;
    zoom: 1.1;
}

.table-fluid .row-fluid.active INPUT {
    width: 100%;
    box-sizing: border-box;
    height: 2em;
    margin-bottom: 0;
}

#assignmentTable .tableHeader.row-fluid [class*="span"] {
    height: auto;
}

#assignmentTable .row-fluid [class*="span"] {
    padding: 8px;
}

.tableHeader > div { 
    font-weight: bold;
    line-height: 20px;
}

.ruleField, .ruleOperator, .ruleCategory {
    position: relative;
    background: white;
    border-radius: 4px;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#assignmentTable .row-fluid [class*="span"].ruleField,
#assignmentTable .row-fluid [class*="span"].ruleOperator,
#assignmentTable .row-fluid [class*="span"].ruleCategory {
    padding: 0;
}

.ruleField .label, .ruleOperator .label, .ruleCategory .label { 
    position: absolute !important;
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    text-align: center;
    line-height: 2em;    
    overflow: hidden;
    text-overflow: ellipsis;
    zIndex: 10;
}

.dropFieldHover.ruleField, .dropOperatorHover.ruleOperator, .dropCategoryHover.ruleCategory {
    border: 2px dashed #468847;
}

.ruleField INPUT, .ruleOperator INPUT, .ruleCategory INPUT {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    margin-bottom: 0;
}

.sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.sortable li {
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em; 
   /* height: 18px;*/
}

.sortable li, .sortable li span {
    cursor: -webkit-grab;   
    cursor: grab;   
}

.giveMeSomeRoom {
    margin: 8px;
}

div[previous-view] {
    position: absolute;
    left: -100%;
    top: 41px;
    width: 100%;
    bottom: 0;
    -webkit-transition: left 0.4s ease-in-out;
}

div[previous-view].aboutToNavigate {
    left: 0%;
    -webkit-transition: none;
}

div[ng-view]{
    position: absolute;
    left: 0%;
    top: 41px;
    width: 100%;
    bottom: 0;
    -webkit-transition: left 0.4s ease-in-out;    
}

div[ng-view].aboutToNavigate{
    left: 100%;
    -webkit-transition: none;
}

#waitForTransactions {
    position: relative;
    width: 100%;
    height: 100px;
}

.searchCategoryIcon, .addCategoryIcon { 
    position: absolute;
    top: 50%;
    margin-top: -10px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.noMatch .searchCategoryIcon, .noMatch .addCategoryIcon { 
    opacity: 1;
}

.noMatch #creditCategoryChooser, .noMatch #debetCategoryChooser {
    padding-right: 40px;
}

.searchCategoryIcon { 
    right: 30px;
}

.addCategoryIcon {
    right: 12px;
}

#categoryBrowser .modal-body {
    min-height: 250px;
}

.row-fluid .actionButton { 
    opacity: 0;
    -webkit-transition: opacity 0.4s;
}

.row-fluid.active .actionButton { 
    opacity: 1;
}

#assignmentTable .row-fluid {
    max-height: 40px;
    -webkit-transition: height 0.4s ease 0.2s;
}

#assignmentTable .row-fluid.active.expanded {
    max-height: 300px;
    -webkit-transition: max-height 0.4s ease 0s;
}

#assignmentTable .row-fluid.active.expanded #ruleForm {
    opacity: 1;    
    -webkit-transition: opacity 0.3s ease-in-out 0.3s;
    padding: 4px;
}

#ruleForm .ruleCategory, 
#ruleForm .ruleOperator, 
#ruleForm .ruleField {
    margin-top: 8px;
}

#ruleForm {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out 0s;
    background: white;
    color: #333;
    border-radius: 8px;
    margin-bottom: 3px;
    margin-top: -2px;
    margin-left: 2%;
    width: 96%;    
}


/*.sortable li > span:first { 
    position: absolute; 
    margin-left: -1.3em; 
}*/
