<div ng-controller="AccountListCtrl" ng-init="refresh()">
    <!-- Left side -->
    <div class="row-fluid">
        <select ng-change="refresh()" ng-model="selectedAccountType">
            <option value="ASSET" selected myapp-label data-label="assets"></option>
            <option value="LIABILITY" myapp-label data-label="liabilities"></option>
            <option value="INCOME"  myapp-label data-label="incomes"></option>
            <option value="EXPENSE" myapp-label data-label="expenses"></option>
        </select>
    </div>
    <div class="row-fluid">
        <table ng-class="{true:'table table-condensed', false:'table table-striped table-hover'}[accounts.length == 0]">
            <thead>
                <tr>
                    <th myapp-label data-label="account">                        
                    </th>
                    <th><i class="icon-plus" ng-click="add()"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="accounts.length == 0 && !loading">
                    <td colspan="2"><p myapp-label data-label="no_accounts" class="muted"></p></td>
                </tr>
                <tr ng-show="accounts.length == 0 && loading">
                    <td colspan="2"><p myapp-label data-label="loading" class="muted"></p></td>
                </tr>                
                <tr ng-repeat="account in accounts | orderBy:'name' | lowercase" ng-click="select(account)">
                    <td>{{account.name}}</td>
                    <td><i class="icon-remove" ng-click="remove(account)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
