<div ng-controller="AccountDetailCtrl">
    <!-- Right side -->
    <form name="accountForm" class="css-form" ng-submit="save()">
        <legend myapp-label data-label="account_detail"></legend>
        <div class="alert alert-info" ng-show="account == null">
            <i class="icon-info-sign"></i>
            <strong myapp-label data-label="choose_account_or_create_new"></strong>
        </div>
        <div class="alert alert-success" ng-show="showSuccessMessage">
            <i class="icon-info-sign"></i>
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong myapp-label data-label="success"></strong> <span myapp-label data-label="account_saved"></span>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputAccountName" myapp-label data-label="account_name"></label>
            <div class="controls">
                <input type="text" id="inputAccountName" ng-model="account.name" required="true" ng-disabled="account == null">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputBankAccountNumber" myapp-label data-label="bankaccount_nr"></label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" name="inputBankAccountNumber" ng-model="account.bankAccountNumber" 
                           ng-disabled="account == null" bank-account-number ng-minlength="14" maxlength="14">
                    <span class="add-on text-error" ng-show="accountForm.inputBankAccountNumber.$error.minlength">Should be a number</span>
                    <span class="add-on text-error" ng-show="accountForm.inputBankAccountNumber.$error.bankAccountNumber" myapp-label data-label="invalidBankAccountNumber"></span>
                </div>
            </div>                            
        </div>
        <div class="control-group">
            <label class="control-label" for="inputAccountDescription" myapp-label data-label="description"></label>
            <div class="controls">
                <textarea name="inputAccountDescription" ng-model="account.description" 
                       ng-disabled="account == null" maxlength="500"/>                
            </div>                            
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" myapp-label data-label="save" ng-disabled="accountForm.$invalid || alreadySubmitted"></button>
        </div>
    </form>
</div>