<div class="well well-small">
    <h1 data-i18n-key="assign_title"></h1>
</div>
<div class="container-fluid" ng-init="init()">
    <div>
        <ul class="nav nav-pills pull-right">
            <li class="{{isActiveGranularity('month')}}"><a ng-click="setIntervalGranularity('month')" data-i18n-key="per_month"></a></li>
            <li class="{{isActiveGranularity('year')}}"><a ng-click="setIntervalGranularity('year')" data-i18n-key="per_year"></a></li>
            <li class="{{isActiveGranularity('all')}}"><a ng-click="setIntervalGranularity('all')" data-i18n-key="all"></a></li>
        </ul>
    </div>
    <blockquote ng-show="transactions != null && transactions.length == 0">
        <span data-i18n-key="no_unmapped_transactions"></span>
        <a href="#/import" data-i18n-key="goto_import"></a>
    </blockquote>
    <div id="hiddenEditableFields" style="display: none; ">
        <span>
            <input id="creditCategoryChooser" type="text" data-provide="typeahead" />
            <a href="#categoryBrowser" class="searchCategoryIcon" data-toggle="modal" ng-click="setCreditSideSelected()"><i class="icon-search"></i></a>
            <a href="#categoryCreator" class="addCategoryIcon" data-toggle="modal" ng-click="addCreditCategory()"><i class="icon-plus"></i></a>
        </span>
        <div id="ruleForm" class="span10" ng-controller="RulesCtrl" ng-init="init()">
                <span data-i18n-key="ruleWhen" class="span1"></span>
                <span class="span2 ruleField">
                    <input type="text"></input>                    
                </span>
                <span class="span2 ruleOperator">
                    <input type="text"></input>
                </span>
                <span class="span2">
                    <input type="text" class="ruleValue"  ng-model="rule.value">
                </span>
                <span class="span2" data-i18n-key="ruleThen"></span>    
                <span class="span2 ruleCategory">
                    <input type="text">
                </span>
                <span class="span1">
                    <button type="button" class="btn btn-primary" ng-click="saveRule()"><i class="icon-ok icon-white"></i></button>                    
                </span>
        </div>
    </div>    
    <div class="row-fluid table-fluid" id="assignmentTable" ng-show="transactions.length != 0">
        <div class="span12">
            <div class="row-fluid tableHeader">
                <div class="span2" data-i18n-key="transactionDateField"></div>
                <div class="span1" data-i18n-key="transactionAmountField"></div>
                <div class="span6" data-i18n-key="transactionDescriptionField"></div>
                <div class="span2" data-i18n-key="creditAccountField"></div>
                <div class="span1"></div>
            </div>        
            <div id="waitForTransactions"></div>            
            <div class="row-fluid" ng-repeat="transaction in transactions" ng-click="selectRow($event)" data-row-index="{{$index}}">    
                <div class="span2">{{transaction.date | date:'yyyy-MM-dd'}}</div>
                <div class="span1">{{transaction.amount | number:2}}</div>
                <div class="span6">{{transaction.description}}</div>
                <div class="span2" style="position: relative;"><span class="label {{calculateClassName(transaction.creditAccount)}}" ng-show="transaction.creditAccount">{{transaction.creditAccount.name}}</span></div>
                <div class="span1"><img class="actionButton" src="img/rule.png" ng-click="toggleRuleForm()"/></div>
            </div>
        </div>
    </div>
    <div id="categoryBrowser" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 data-i18n-key="browse_categories"></h3>
        </div>
        <div class="modal-body" ng-include="'categoryOverview.html'" autoscroll>
        </div>
    </div>
    <div id="categoryCreator" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 data-i18n-key="add_category"></h3>
        </div>
        <div class="modal-body" ng-include="'categoryDetail.html'" autoscroll>
        </div>
    </div>
</div>