<!doctype html>
<html>
    <head>
        <!-- Support for Google Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        
        <!-- Stylesheets -->
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="css/nsoFinance.css" rel="stylesheet">
        
        <!-- Javascripts -->
        <script data-main="js/main" src="js/requirejs-2.0.6.min.js"></script>                
    </head>
    <body>
        <div class="modal loadingPanel">
              <div class="modal-body">
                <p>Loading...</p>
              </div>
        </div>
        <div ng-cloak class="ng-cloak" ng-controller="RootCtrl" ng-init="populateLanguages()">
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <a href="#" class="brand" data-i18n-key="product_name"></a> 
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-i18n-key="transactions"></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/import" data-i18n-key="import"></a></li>
                                <li><a href="#/assign" data-i18n-key="assign"></a></li>
                            </ul>
                        </li>
                        <li><a href="#/category" data-i18n-key="accounts"></a></li>
                        <li><a href="#/rules" data-i18n-key="rules"></a></li>
                        <li><a href="#/settings" data-i18n-key="settings"></a></li>
                    </ul>
                </div>
            </div>
            <div id="feedback_area">
                <div ng-repeat="notification in notifications" class="alert alert-{{notification.type}}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong data-i18n-key="{{notification.type}}"></strong> <span>{{notification.message}}</span>
                </div>
            </div>
            <ul class="nav nav-pills pull-right">                
                <li ng-repeat="language in languages" ng-class="getLanguageSelectedClass(language)"><a ng-click="setLanguage(language)">{{language}}</a></li>
            </ul>
            <div previous-view></div>
            <div ng-view></div>
        </div>
    </body>
</html>