<div class="well well-small">
    <h1>        
        <span data-i18n-key="rules_title"></span>
    </h1>
</div>
<div class="container-fluid" ng-init="init()">
    <div class="row-fluid">
        <div class="span7 offset2 well well-small labelsArea operatorLabels">
            <span ng-repeat="operator in operators">
                <span class="label label-inverse" >{{operator.i18nKey | translate}}<span>
            </span>
        </div>        
    </div>
    <div class="row-fluid">
        <div class="span2 well well-small labelsArea fieldLabels">
            <div class="row-fluid" ng-repeat="field in fields">
                <span ng-class="{true: 'label label-important', false: 'label'}[field.required]" >{{field.i18nKey | translate}}<span>
            </div>
        </div>
        <div class="span7" style="height: 100%">
            <form class="form-horizontal well" id="newRule">
                <div class="control-group">
                    <label class="control-label" data-i18n-key="ruleWhen"></label>
                    <div class="controls controls-row">
                        <span class="span3 ruleField">
                            <input type="text"></input>
                        </span>
                        <span class="span4 ruleOperator">
                            <input type="text"></input>
                        </span>
                        <input type="text" class="span4 ruleValue" ng-model="rule.value"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" data-i18n-key="ruleThen"></label>    
                    <div class="controls controls-row">
                        <span class="span6 ruleCategory">
                            <input type="text">                            
                        </span>
                        <span class="span3">
                            <button type="button" class="btn btn-primary" data-i18n-key="save" ng-click="saveRule()"></button>                        
                        </span>
                    </div>
                </div>
            </form>
            <ul class="sortable unstyled">
                <li class="well well-small" ng-repeat="rule in rules">
                        <i class="icon-move"></i>
                        <span data-i18n-key="ruleWhen"></span>
                        "<span ng-class="{true: 'label label-important', false: 'label'}[rule.field.required]">{{rule.field.i18nKey | translate}}</span>"
                        <span class="label label-inverse">{{rule.operator.i18nKey | translate}}</span>
                        <span><b>"{{rule.value}}"</b></span>
                        <span data-i18n-key="ruleThen"></span>
                        "<span class="label {{calculateClassName(rule.category)}}">{{rule.category.name}}</span>"
                </li>
            </ul>
        </div>
        <div class="span3 well well-small categoryLabels labelsArea">
            <form class="form-search">
              <div class="input-append">
                <input type="text" class="span12 search-query" >
                <button type="submit" class="btn"><i class="icon-search"></i></button>
              </div>
            </form>
            <span ng-repeat="category in categories">
                <span class="label {{calculateClassName(category)}}">{{category.name}}</span>
            </span>
        </div>
</div>
