<div ng-controller="CategoryDetailCtrl">
    <!-- Right side -->
    <form name="categoryForm" class="css-form" ng-submit="save()">
        <legend data-i18n-key="category_detail" ng-show="!hideCategoryDetailTitle"></legend>
        <div class="alert alert-info fade in" id="infoMessageForm" ng-show="!hideCategoryDetailTitle">
            <i class="icon-info-sign"></i>
            <strong data-i18n-key="choose_category_or_create_new"></strong>
        </div>
        <div class="control-group" ng-show="showCategoryTypeInDetailForm">
            <div class="controls" >
                <select ng-model="category.type">
                    <option value="ASSET" selected data-i18n-key="assets"></option>
                    <option value="LIABILITY" data-i18n-key="liabilities"></option>
                    <option value="INCOME"  data-i18n-key="incomes"></option>
                    <option value="EXPENSE" data-i18n-key="expenses"></option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCategoryName" data-i18n-key="category_name"></label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" id="inputCategoryName" name="inputCategoryName" ng-model="category.name" required="true" ng-disabled="category == null">
                    <span class="add-on text-error" ng-show="categoryForm.$dirty && categoryForm.inputCategoryName.$error.required && category != null" data-i18n-key="requiredAccountName"></span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCategoryDescription" data-i18n-key="description"></label>
            <div class="controls">
                <textarea name="inputCategoryDescription" ng-model="category.description" 
                       ng-disabled="category == null" maxlength="500"/>                
            </div>                            
        </div>
        <div class="alert alert-success fade in" ng-show="showSuccessMessage">
            <i class="icon-info-sign"></i>
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong data-i18n-key="success"></strong> <span data-i18n-key="account_saved"></span>
        </div>        
        <div class="alert alert-error fade in" ng-show="errorMessage != null">
            <i class="icon-exclamation-sign"></i>
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong data-i18n-key="error"></strong> <span>{{errorMessage}}</span>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" data-i18n-key="save" ng-disabled="categoryForm.$invalid || alreadySubmitted"></button>
        </div>
    </form>
</div>