<div class="well well-small">
    <h1>        
        <span data-i18n-key="settings"></span>
    </h1>
</div>
<div class="container-fluid">
    <div class="span12">
        <div class="step">
            <p>
                <blockquote>
                    <p class="muted" data-i18n-key="removeAllTransactionsDescription"></p>
                </blockquote>
                <a class="btn btn-primary" ng-click="removeAllTransactions()">
                    <i class="icon-trash icon-white"></i>
                    <span data-i18n-key="removeAllTransactions"></span>
                </a>
            </p>
            <p>
                <blockquote>
                    <p class="muted" data-i18n-key="removeAllDataDescription"></p>
                </blockquote>
                <a class="btn btn-primary" ng-click="removeAllData()">
                    <i class="icon-trash icon-white"></i>
                    <span data-i18n-key="removeAllData"></span>
                </a>
            </p>
        </div>
        <div class="step">
            <p>
                <blockquote>
                    <p class="muted" data-i18n-key="syncFusionTableId"></p>
                </blockquote>
                <label class="radio" ng-repeat="tableId in tableIds">
                  <input type="radio" name="fusionTableId" id="{{tableId}}" value="{{tableId}}" ng-click="selectTable(tableId)" ng-checked="tableId==currentTableId">
                  {{tableId}}
                </label>
                <a class="btn btn-primary" ng-click="createTable()">
                    <i class="icon-file icon-white"></i>
                    <span data-i18n-key="createTable"></span>
                </a>
            </p>            
        </div>
    </div>
</div>